<div class="container mx-auto p-4">
    <div class="flex justify-between items-center bg-blue-500 text-white p-4 rounded">
        <h3 class="text-lg font-semibold">Employee List</h3>
        <button class="bg-yellow-500 hover:bg-yellow-200 text-white px-4 py-2 rounded">Add Employee</button> 
    </div>

    <div>
        <table class="w-full mt-4 border-collapse border border-gray-300 text-center">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 p-2">Id</th>
                    <th class="border border-gray-300 p-2">Name</th>
                    <th class="border border-gray-300 p-2">Email</th>
                    <th class="border border-gray-300 p-2">Mobile</th>
                    <th class="border border-gray-300 p-2">Age</th>
                    <th class="border border-gray-300 p-2">Salary</th>
                    <th class="border border-gray-300 p-2">Status</th>
                    <th class="border border-gray-300 p-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-100">
                    <td class="border border-gray-300 p-2">1</td>
                    <td class="border border-gray-300 p-2">John Doe</td>
                    <td class="border border-gray-300 p-2">snkjkjnhkgmail.com</td>
                    <td class="border border-gray-300 p-2">031321654654</td>
                    <td class="border border-gray-300 p-2">20</td>
                    <td class="border border-gray-300 p-2">60</td>
                    <td class="border border-gray-300 p-2">Active</td>
                    <td class="border border-gray-300 px-4 py-2 text-center">
                        <button class="bg-blue-500 hover:bg-green-500 text-white px-4 py-2 rounded">Edit</button> ||
                        <button class="bg-red-500 hover:bg-red-300 text-white px-4 py-2 rounded">Delete</button>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
</div>